@model IEnumerable<EventEasePoe.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Event</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.VenueID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventID" class="btn btn-primary">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EventID" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    <a asp-action="Create" asp-controller="Booking" class="btn btn-secondary">Create new Booking</a>
</div>